<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <div>
        <img src={{images}}>
        <ul>
            <li>data:-{{profile_data}}</li> 
            {% comment %} <li><h4>Name:-{{user_info}}</h4></li>
            <li><h4>Email:-{{email}}</h4></li> {% endcomment %}
        <ul>
    </div>

</body>
</html>